@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .maxW1600 {
    @apply max-w-[100rem] mx-auto w-full md:py-3 py-1 px-2 md:px-5;
  }
  .heroBG {
    background: url("./assets/pattern.png") no-repeat center center / cover;
  }
  .btnShadow {
    box-shadow: 0px 4px 50px 0px rgba(51, 145, 255, 0.5);
  }
  .serviceCardBg {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.04) 64.69%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .brandSectionBG {
    background: url("./assets/img-pattern.svg"), no-repeat center center/cover;
  }
  .brandSectionBG2 {
    background: url("./assets/pattern.png"), #3391ff no-repeat center / cover;
  }
  .aboutShadow{
    box-shadow: 0px 4px 50px 0px rgba(255, 255, 255, 0.25);
  }

  .faqBG {
    border-radius: 6.896px;
    background: rgba(0, 0, 0, 0.06);
  }

  .getInTouchBg {
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.04);
  }
}
